.navbar {
  padding: 20px;
  background-color: #000514;
  color: rgb(228, 228, 228);
  font-weight: 500;
  font-size: 18px;
}

.active {
  /* border-radius: 5px; */
  border-bottom: 2px solid rgb(34, 80, 204);
  width: auto;

}

.nav-item:hover {
  /* background: white; */

  color: white;
  /* border-bottom: 3px solid rgb(34, 80, 204); */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


i {
  color: rgb(228, 228, 228);

}

i:hover {
  color: white;
  cursor: pointer;
}



.btn:hover {
  background: #494949;
  transition: all 0.3s ease 0s;
  border: 0.1px solid #494949;

}

.btn {
  background: #000514;
  border: 0.1px solid #494949;
  color: white;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;

}
